@import 'settings';
@import 'foundation-emails';

@import 'template/template';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');


.toplogo{
  width:120px;
  height:36.61px;
}

.blue-bg{
  background-color: $primary-color;

  img{
    width:50px;
    height: 50px;
  }

  p{
    font-size: 16px;
    color:#fff;
    /*line-height:16px;*/
    margin: 0;
}

a{
    color:#fff;
    text-decoration: underline;
}
        .pheader{
          margin-top: 15px;
          font-weight: bold;
          font-size: 18px;
  }


      button{
    margin-top:22px;
      }
}

.footer{
margin-top:22px;
  p{
    font-size: 10px;
    color: #BDBDBD;
  }
}

.bottom_text{
    margin-top:22px!important;
    background: inherit;

}

.header{
  background-color: #FFF;
img{
  padding-top:22px;
}
}
.bottom-pad{
  img{
    padding-bottom: 11px;
  }
}


.callout{
  .freaky{
border-left-color:$primary-color;
border-left-width: 3px;
width:93%;
float:right;
}
}


h6{
  font-weight: 500!important;
  margin-top: 20px;
float: none!important}

  #paragraph{
    margin-left: auto;
margin-right: auto;
float: none !important
  }

.text-bold{
  font-weight:bold;
    color: #000000;
}

.text-big{
  font-size: 25px;
  font-weight: 400!important;
  color: #000000;
}

.emoji{
  width:20px;
  height:20px;
  display: inline;
  position: absolute;
  margin-left: 5px;
}

.congratsemoji{
  width:30px;
  height:26px;
  display: inline;
  position: absolute;
  margin-left: 10px;
}

p{
  color: #4A4A4A;
  font-size: 15px;

  hr{
    color: #E0E0E0;
  }

  a{
    color: $primary-color;
    text-decoration: underline;    
  }
}

.title{
  color: #08689F;
  font-size: 18px;
  font-weight: bold;
}

ul{
  li{
    color:  #828282;
    font-size: 15px;

  }
}

.greylogin{
    background-color:#BDBDBD;

    
  
    p{
      font-size: 16px;
      color:#828282;
      /*line-height:16px;*/
      margin: 0;
  }
  
  a{
      color:#fff;
      text-decoration: underline;
  }
          .pheader{
            margin-top: 15px;
            font-weight: bold;
            font-size: 18px;
    }
  
  
        button{
      margin-top:22px;
        }
  }

  .steps-bg{
    background-color: $primary-color;
  
    img{
      width:50px;
      height: 50px;
    }
  
    p{
      font-size: 20px;
      color:#fff;
      /*line-height:16px;*/
      margin: 0;
  }
  
  a{
      color:#fff;
      text-decoration: underline;
  }
          .pheader{
            margin-top: 15px;
            font-weight: bold;
            font-size: 18px;
    }
  
  
        button{
      margin-top:22px;
        }
  }
  

