---
subject: REJECTION
---

<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png"  class="toplogo">
</center>
  <spacer size="25"></spacer>


<container>
  <spacer size="20"></spacer>
  <row>
    <columns small="12">
      <spacer size="10"></spacer>
      <p class="text-center text-bold">Hi David
      <img src="{{root}}assets/img/rejection.png" class="emoji"/></p>
      <spacer size="10"></spacer>
      <p class="text-center">Thank you for choosing Liquid</p>
      <spacer size="10"></spacer>
      <p class="text-center">We’re as excited as you are about<br>
         higher transaction limits,
         access<br> to high-yield investment funds,
         exclusive <br>insurance discounts and other great offerings.
</p>

<spacer size="10"></spacer>
<p class="text-center">But we’ll need a bit more information<br>
   from you in order to upgrade your account. Just do the below:</p>
   <spacer size="10"></spacer>
{{>login}}
<spacer size="10"></spacer>


<p class="text-center">You can also get your account
  upgraded by <br>simply <a href="tel:080-000-7007">calling</a> or <a href="https://api.whatsapp.com/send?phone=233552524532">WhatsApping us.</a></p>

<p class="text-center">Yep. It’s that easy!</p>
<spacer size="10"></spacer>


  <p  class="text-center">Thank you!</p>
  <spacer size="10"></spacer>


  <p class="text-center">-Team Liquid</p>


    </columns>

</container>
