---
subject: REVISION
---
<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png"  class="toplogo">
</center>
  <spacer size="25"></spacer>


<container>
  <spacer size="35"></spacer>


  <row>
<columns small="12">

      <p class="text-center text-bold">Hi, David <img src="{{root}}assets/img/revision.png" class="emoji"/><p>
      <p class="text-center">We’re just a few laps away from upgrading<br>
    your Liquid account to a full account.</p>
        <p class="text-center">You’ll have a lot to enjoy once your upgrade is done<br>
         like larger transactions,access to high-yield<br>
          investment funds exclusive discounts on insurance,<br> and much more.</p>
</p>

<p class="text-center">To do the upgrade, just log in and give us some additional information.</p>
<spacer size="10"></spacer>
{{>login}}
<spacer size="10"></spacer>

<p class="text-center">If you need more information just call or <a href="https://api.whatsapp.com/send?phone=233552524532">WhatsApp us.</a><br>
   You can also <a href="mailto:support@liquid.com.gh">email us.</a></p>



<p class="text-center">Thanks!</p>
<p class="text-center">-TEAM LIQUID</p>



</columns>
</row>

</container>
