---
subject: SUCCESS
---

<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png" class="toplogo">
</center>
  <spacer size="25"></spacer>
<container>
  <row>
    <columns small="12" >
      <spacer size="60"></spacer>

        <p class="text-center text-big">Congratulations, David <img src="{{root}}assets/img/congrats.png" class="congratsemoji"/><p>
      <spacer size="10"></spacer>
      <p class="text-center">It’s done - you’re the proud new owner of <br>a full account!</p>
      <spacer size="10"></spacer>
      <p class="text-center"> The upgrade went successfully and you <br>can now transact as many times as you like,<br> plus enjoy access to high-yield investment funds<br> and exclusive discounts on insurance.<br>
</p>
<spacer size="20"></spacer>
<p class="text-center">Living life <i>full</i> is better, isn’t it?</p>
<spacer size="20"></spacer>
<p class="text-center">Thanks!</p>
<spacer size="20"></spacer>
<p class="text-center">-Team Liquid<p>
  <spacer size="20"></spacer>
    </columns>
  </container>
