---
subject: NEWSLETTER
---


<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png"  class="toplogo">
</center>
  <spacer size="25"></spacer>
<container>
  <row>
    <columns small="12" >
      <spacer size="30"></spacer>
      <p class="title">LAUNCH PLANS</p>
    <P>We are preparing to do a soft launch of our android and iOS apps on<br>
April 9.  We are launching to an exclusive group of friends, family, and<br>
senior government officials, building up a waitlist, and releasing to<br>
increasing numbers of customers. We will also be kicking off our 24h<br>
call center and Whatsapp channel support.</p>
<spacer size="20"></spacer>

<p>A sneak peek of our launch plans:</p>
<spacer size="5"></spacer>

<ul>
  <li>600,000 students on our target list (we have phone numbers)</li>
  <li> Digital media plan targeting 500,000 people in April and May</li>
  <li>Pop-up shops to place at 10 malls and campuses - including Accra,
    West Hills, Junction, & Marina malls, as well as Legon, Central,
    UPSA, and Ashesi</li>
    <li>Partnerships being finalized to embed salespeople inside telefonika
      stores in Accra - including Accra Mall, Osu, West Hills Mall, Junction
      Mall, Palace Mall and Melcom Plus in Tema</li>
      <li>Partnership being finalized with Samsung to pre-install the app on
        phones</li>
</ul>
<spacer size="5"></spacer>
<p><hr></p>
<spacer size="20"></spacer>


<p class="title">MEET OUR TEAM</p>
<P>Our team is growing!  In March, we grew our staff to 17 people,<br>
welcoming Andrew, Daniel, and Jonathan to the development team<br>
and Anahid to the commercial team.  We're hiring 6 people for<br>
operations and 15 salespeople for launch. In light of this we are<br>
moving offices in April to make room for our expanding team.</P>
<img src="{{root}}assets/img/image.png">
<spacer size="5"></spacer>

<p><hr></p>
<spacer size="20"></spacer>

<p class="title">LEADERSHIP</p>
<p>We are delighted to welcome Salma Okonkwo and Yasmin Belo-Osagie <br>
the Liquid Financial Services Board. Salma is the Founder of UBI energy <br>
group, one of the largest distributors of petroleum products in Ghana.<br>
She brings experience building and scaling businesses in Ghana. <br>
Yasmin is the co-founder of She Leads Africa, and currently pursuing <br>
a JD at Harvard and an MBA at Stanford.  She brings experience in <br>
scaling a digitally enabled business.  We look forward to their <br>
perspectives!</p>
<spacer size="5"></spacer>

<p><hr></p>
<spacer size="20"></spacer>

<p class="title">FUNDRAISING</p>
<p>We are closing our seed round at $XX to give us runway to acquire <br>
customers...</p>

<spacer size="20"></spacer>
<p><hr></p>

<spacer size="20"></spacer>
<p class="text-center">Thanks!</p>
<spacer size="20"></spacer>
<p class="text-center">-Team Liquid<p>
  <spacer size="20"></spacer>
    </columns>
  </container>
