---
subject: BOOST ACCOUNT
---

<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png" class="toplogo">
</center>
  <spacer size="25"></spacer>
<container>
  <row>
    <columns small="12" >
      <spacer size="60"></spacer>

      <p class="text-center text-bold">Hi David
        <img src="{{root}}assets/img/rejection.png" class="emoji"/></p>
      <spacer size="10"></spacer>
      <p class="text-center">Boost your account today to get access to Loans and Investments.</p>
      <spacer size="10"></spacer>
      <p class="text-center">Boosting takes only three steps
      </p>
      <spacer size="10"></spacer>
      {{>boost}}
      <spacer size="40"></spacer>
      {{>greyLogin}}
      <spacer size="20"></spacer>
 



<p class="text-center">You can also get your account
  upgraded by <br>simply <a href="tel:080-000-7007">calling</a> or <a href="https://api.whatsapp.com/send?phone=233552524532">WhatsApping us.</a></p>

<p class="text-center">Yep. It’s that easy!</p>
<spacer size="10"></spacer>
<p class="text-center">Thanks!</p>
<spacer size="20"></spacer>
<p class="text-center">-Team Liquid<p>
  <spacer size="20"></spacer>
    </columns>
  </container>
