---
subject: WELCOME
---

<center>
    <spacer size="35"></spacer>
<img src="{{root}}assets/img/logo.png" class="toplogo">
</center>
  <spacer size="25"></spacer>
<container>
  <row>
    <columns small="12" >
      <spacer size="60"></spacer>

        <p class="text-center text-big">Welcome, David <img src="{{root}}assets/img/welcome.png" class="congratsemoji"/><p>
      <spacer size="10"></spacer>
      <p class="text-center">-Congratulations,your LIQUID account has been created</p>
      <spacer size="10"></spacer>
      <p class="text-center">Login to experience the new wave!
      </p>
      <spacer size="10"></spacer>
      {{>login}}
      <spacer size="10"></spacer>
      <p class="text-center">We hope you enjoy using LIQUID.</p>
<spacer size="20"></spacer>
<p class="text-center">Thanks!</p>
<spacer size="20"></spacer>
<p class="text-center">-Team Liquid<p>
  <spacer size="20"></spacer>
    </columns>
  </container>
