<container>
    
    <wrapper class="steps-bg">
    
    <spacer size="10"></spacer>

          <center><img src="{{root}}assets/img/step.png"/></center>
          <spacer size="15"></spacer>          
    <p class="text-center"><strong>1.</strong> Take a Selfie</p>
    <spacer size="40"></spacer>
    <center><img src="{{root}}assets/img/step2.png"/></center>
    <spacer size="15"></spacer>              
    <p class="text-center"><strong>2.</strong> Tell us about yourself</p>
    <spacer size="40"></spacer>
    <center><img src="{{root}}assets/img/step3.png"/></center>
    <spacer size="15"></spacer>              
    <p class="text-center"><strong>3.</strong> Provide identification documents</p>
    <spacer size="40"></spacer>
    </wrapper>
    </container>
    