
<wrapper class="footer">
  <p class="text-center bottom_text">This email was sent by Liquid Financial Services Ltd.</p>
  <p class="text-center" >© Liquid Financial Services Ltd., Inc.<br/>
  C497/14, Nii Bonne Cr-Dworwulu,Accra, Ghana<br/>
  Liquid is a trademark of Liquid Financial Services Ltd., Inc.<br/>
  All rights reserved.<br/>
  Liquid.com.gh · Instagram · Twitter · Facebook</p>
</wrapper>
<spacer size="10"></spacer>
  <img width="60px" height="61px" src="{{root}}assets/img/logomark.png">
