<container>

<wrapper class="blue-bg">

<spacer size="20"></spacer>
      <p   class="text-center pheader">How do I log in? </p>
      <spacer size="20"></spacer>
<p class="text-center">Remember the username you chose when you created your account? </p>
<p class="text-center">Enter that and your password to login</p>
<p class="text-center">If both have dried up in your memory, as happens,just</p>
<p class="text-center">reset them in the LIQUID app</p>
<spacer size="30"></spacer>
</wrapper>
</container>
