<spacer size="30"></spacer>
<row>
  <center>
    <menu>
      <item href="https://www.linkedin.com/company/getliquidgh/" target="_blank"> <img src="{{root}}assets/img/linkedin.png" class="icons"></item>
      <item href="https://www.facebook.com/Liquid-Financial-Services-1971252286474970" target="_blank"><img src="{{root}}assets/img/facebook.png" class="icons"></item>
      <item href="https://twitter.com/GetLiquidgh" target="_blank">  <img src="{{root}}assets/img/twitter.png" class="icons"></item>
      <item href="https://www.instagram.com/getliquidgh/" target="_blank">    <img src="{{root}}assets/img/instagram.png" class="icons"></item>
    </menu>
          </center>
</row>
