<container>
    
    <wrapper class="blue-bg">
    
    <spacer size="10"></spacer>

          <p class="text-center pheader">1</p>
    <p class="text-center">Take a Selfie</p>
    <spacer size="20"></spacer>
    <p class="text-center pheader">2</p>
    <p class="text-center">Tell us about yourself</p>
    <spacer size="20"></spacer>
    <p class="text-center pheader">3</p>
    <p class="text-center">Provide identification documents</p>
    <spacer size="30"></spacer>
    </wrapper>
    </container>
    